#hamlet,
.shadowTop::before + #hamlet {
  transition: transform 300ms ease;
}

#hamlet:hover {
  transition-property: none;
}

.shadowTop::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 30%;
  width: 100%;
  background-image: linear-gradient(to bottom, #000, transparent);
  z-index: 1;
}

.shadowLoader {
  background-image: radial-gradient(
    circle at 50% 100%,
    transparent,
    transparent 30%,
    #000
  );
}

.transitionGame {
  transition: -webkit-filter 300ms ease;
  transition: filter 300ms ease;
  transition: filter 300ms ease, -webkit-filter 300ms ease;
}

.card-container {
  perspective: 1000px;
}

.card {
  transition: transform 300ms linear;
  transform-style: preserve-3d;
}

.card.correct {
  transition-property: none;
}

.card.flip {
  transform: rotateY(-180deg);
}

.front-card {
  /* Bug fix for backface visibility in Firefox and Safari. */
  transform: rotateY(0deg);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(-180deg);
}

.shadowText {
  text-shadow: -1px 0 #d65900, 0 1px #cf4a00, 1px 0 #b52d00, 0 -1px #d24a00;
}

.btn-journal::before {
  --size: 40px;
  content: '';
  display: block;
  height: var(--size);
  width: var(--size);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 300ms ease-in-out;
}

.btn-journal:hover::before {
  transform: scale(1.4);
}

.btn-journal_home::before {
  background-image: url('/invitation.webp');
}

.btn-journal_tryGame::before {
  background-image: url('/try_game.webp');
}

.result__title {
  top: 3rem;
  width: 100%;
  font-size: 1.4rem;
}

.result__info {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.result__buttons {
  bottom: 4rem;
  gap: 4em;
}

.result__buttons a:first-child {
  margin-left: 2.5em;
}

@media (min-height: 551px) and (min-width: 651px) {
  #modal-img {
    padding: 0;
  }
}

@media (max-width: 651px) {
  .result__title {
    top: 3.8rem;
  }
}

@media (max-width: 590px) and (orientation: portrait) {
  #modal {
    font-size: 16px;
  }

  #modal-img {
    width: 360px;
  }

  .result__title {
    top: 7.65rem;
    font-size: 13px;
  }

  .result__buttons {
    bottom: 7.5rem;
    gap: 1em;
  }

  .result__buttons a:first-child {
    margin-left: 2.5em;
  }

  .btn-journal:hover::before {
    transform: scale(1.25);
  }
}

@media (max-height: 551px) {
  #left-time-title {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 150px;
    font-size: 1.5rem;
    line-height: 2rem;
    word-break: normal;
  }

  .result__buttons {
    bottom: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .result__buttons a:first-child {
    margin-left: 1.5em;
  }
}

@media screen and (orientation: landscape) and (max-height: 551px) {
  .result__title {
    font-size: 1rem;
  }
}
